<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Order Form</title>
</head>
<body>

{% block content %}
<h2>Cвободные комнаты</h2>
<form method="get" action="/admin/rooms/">
    <div class="mb-3">
        <input type="date" class="form" id="date_start" name="date_start" value="{{ date_start }}">
        <input type="date" class="form" id="date_end" name="date_end" value="{{ date_end }}">
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="table-dark">№ </th>
        <th class="table-dark">Хонани холати</th>
        <th class="table-dark">Хона рақами</th>
        <th class="table-dark">Хона сиғими</th>
        <th class="table-dark">Хона тури</th>
        <th class="table-dark">1-жой</th>
        <th class="table-dark">2-жой</th>
        <th class="table-dark">3-жой</th>
    </tr>
    </thead>
    <tbody>

    {% for room in rooms %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
                    <form method="post" action="/admin/room_status/">
                        <input type="hidden" name="id" value="{{room.id}}"/>
                        <button type="submit" class="btn btn-primary">
                            {% if room.status %} Aktiv {% else %} Nosoz {% endif %}
                        </button>
                    </form>
                </td>
        <td>{{ room.number }}</td>
        <td>{{ room.number_of_seats }}</td>
        <td>{{ room.room_category }}</td>
        <td>{{ room.one }}</td>
        <td>{{ room.two }}</td>
        <td>{{ room.three }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}


</body>
</html>
